@font-face {
  font-family: "Audiowide";
  src: url(fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "sora";
  src: url(fonts/Sora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Exo 2";
  src: url(fonts/static/Exo2-Regular.ttf);
}

:root {
  --fp: "Audiowide", sans-serif;
  --fs: "sora", sans-serif;
  --ft: "Exo 2", monospace;

  --cw: #f8f9fb;
  --cd: #0b0d10;
  --ca: #3B82F6;
  --cg: #E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fs);
  background-color: var(--cd);
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
