.hero {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}

.heroImage {
  position: relative;
}

.heroImage img {
  position: absolute;
  height: 100%;
  bottom: 0;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 8rem;
  perspective: 1000px;
  z-index: 100;
  overflow: hidden;
}

.heroContent p:nth-child(1) {
  position: relative;
  font-family: var(--fs);
  font-size: 2em;
}

.heroContent p:nth-child(3) {
  font-family: var(--ft);
  font-size: 1.5em;
  height: 1.5rem;
}

.heroContent h1 {
  font-size: 6em;
  font-family: var(--fp);
  line-height: 80%;
}

.heroContent div {
  margin-top: 1rem;
}

.heroContent div * {
  margin-right: 1rem;
}

.heroContent a:nth-child(1) {
  color: #fff;
  border: 1px solid#000;
}

.heroContent a:nth-child(1)::after {
  background-color: black;
}

.heroContent a:nth-child(2) {
  border: 1px solid#000;
  color: black;
  background-color: #fff;
}
.heroContent a:nth-child(2):hover {
  color: white;
  background-color: transparent;
}

.heroContent a:nth-child(2)::after {
  background-color: black;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 1rem;
  /* background-image: url("/home/51607.jpg");
  background-position: right; */
}

.about h1 {
  font-size: 4rem;
  font-family: var(--fp);
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.3rem;
  font-family: var(--fs);
  width: 80%;
  text-align: center;
}

.about p span {
  font-family: var(--ft);
  font-size: 1.2rem;
  color: #ff5733;
}

.about div {
  margin-top: 1rem;
  display: flex;
}

.projects {
  padding: 2rem;
}

.projects_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects_heading h1 {
  font-family: var(--fp);
  font-size: 3rem;
}

.projects_heading a {
  color: black;
  border: 1px solid black;
}

.projects_heading a:hover {
  color: white;
}

.projects_heading a::after {
  background-color: black;
}

.projects_container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project {
  background-color: black;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.project h2 {
  font-family: var(--fs);
  margin-bottom: 0.5rem;
}

.project p {
  margin-bottom: 1.5rem;
  font-family: var(--ft);
}

.project a {
  align-self: start;
}

.contact {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.contact_heading {
  font-family: var(--fp);
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 4rem;
  text-align: center;
}

.contact_para {
  font-family: var(--ft);
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
  margin-bottom: 2rem;
}

.contact_btns {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    width: 100%;
    overflow: hidden;
  }

  .heroContent {
    padding: 0;
    padding-left: 1rem;
    padding-top: 25vh;
  }

  .heroContent h1,
  .heroContent p,
  .heroContent div {
    filter: drop-shadow(-1px 1px 1px white) drop-shadow(1px 1px 1px white)
      drop-shadow(1px -1px 1px white) drop-shadow(-1px -1px 1px white);
    z-index: 10;
  }

  .heroContent h1 {
    font-size: 3rem;
    width: 60%;
    line-height: 100%;
  }

  .heroContent p:nth-child(1) {
    font-family: var(--fs);
    font-size: 1em;
  }

  .heroContent p:nth-child(3) {
    font-family: var(--ft);
    font-size: 1em;
    height: 3rem;
    width: 16rem;
  }

  .heroImage {
    position: absolute;
    height: calc(100% - 5rem);
    bottom: 0;
    right: 70%;
  }

  .about h1 {
    font-size: 2.5rem;
  }

  .about p {
    width: 90%;
    font-size: 1rem;
  }

  .projects_heading h1 {
    font-size: 2rem;
  }

  .contact_heading {
    font-size: 2rem;
    height: 6rem;
  }

  .contact_para {
    font-size: 1rem;
  }
}
