.link {
  color: #fff;
  text-decoration: none;
  font-family: var(--ft);
  position: relative;
  padding: 0.5rem;
}

.link::after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 3px;
    transform: scaleX(0);
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover::after {
  transform: scaleX(1);
}
