.nav {
  background-color: black;
  border: 1px solid white;
  border-top: none;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  width: 90%;
  height: 50px;
  margin: 0 5%;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav_name {
  color: #fff;
  font-family: var(--fp);
  margin-left: 1rem;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.nav_links a{
  margin: 0.5rem;
}

.mobile_nav {
  background-color: black;
  border: 1px solid white;
  border-top: none;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000;
}

.mobile_nav_name {
  font-size: 1.5em;
  color: #fff;
  font-family: var(--fp);
  margin-left: 1rem;
}

.mobile_nav_links {
  position: fixed;
  height: calc(100% - 5rem);
  width: 40%;
  display: none; /* controlled by GSAP */
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  gap: 1rem;
  background-color: black;
  top: 5rem;
  right: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  transform: translateX(100%);
}

.mobile_HamburgerMenu {
  margin-right: 1rem;
}
